/* div {
background-color: red;
background-image: url(../back40.png);
background-repeat: no-repeat;
/* background-attachment: fixed; */
/* background-position:50% 50%;  */
/* background-size: contain; */
/* top right bottom left*/
/* padding: */
/* } */
p {
    background-color: gray;
    padding:10px;
    width: 70%;
    margin: auto;
    /* border-width: 8.5px;
    border-color: red;
    border-style: solid; */
    border: 10px solid red;
}