@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Bebas+Neue&family=Cairo:wght@300;500&family=Changa&family=Hind+Siliguri&family=Lato:wght@700&family=Libre+Franklin:wght@700&family=Noto+Sans:wght@500&family=Oswald&family=Roboto&family=Roboto+Condensed:wght@300&family=Tajawal&display=swap');
* {


    width: fit-content;
    /* background-image: url(/Photos/back2.png); */
    background-attachment: fixed;
    height: fit-content;

}

body {
    background-image: url(https://images.unsplash.com/photo-1600431521340-491eca880813?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

ul {

    background-image: none;
}




::selection {
    background-color: black;
    color: #0043FA;
}

.name_of_page {
    margin: 0%;
    padding: 0%;
    font-weight: bold;
    font-size: 40px;
    color: white;
    position: relative;
    top: -94.7px;
    left: 277px;
    background-image: none;
    text-transform: capitalize;
    font-family: 'Bebas Neue',
        cursive;
        transition: 0.2s ease;

}

.name_of_page:hover {
    color: #0043FA;
}

.page_logo_link {
    position: relative;
    right: 350px;
    top: 0px;
}

a {
    margin: 0%;
    padding: 0%;
    color: white;
    background-image: none;
    text-decoration: none;
    position: relative;
        transition: 0.2s ease;

}

a:hover {
    color: #0043FA;
}

li {
    font-family: 'Roboto',
        sans-serif;
    color: white;
    font-size: 20px;
    width: 100%;
    position: relative;
    left: 31vw;
    bottom: 152px;
    padding-top: 0px;
    padding-right: 28px;
    padding-bottom: 0px;
    padding-left: 28px;
    display: inline;
    background-image: none;
    font-weight: bold;
}

i {

    padding-right: 0.3vw;

}

.logo {
    background: none;
    padding: 0%;
    margin: 0%;
    position: relative;
    width: 9.5%;
    top: -38px;
    left: -23px;
    z-index: 1030;

}

nav {
    margin: 0%;
    height: 67px;
    width: 100%;
    background-image: none;
    background-color: rgb(0, 0, 0);
    position: relative;
    right: 0%;
    top: 0%;
    position: fixed;
    translate: 40px;
    z-index: 1030;
    border-radius: 2px;
    margin-bottom: -80%;
}

.button_navbar {
    padding: 8px 11px 8px 11px;
    margin: 0px;
    background-color: #0043FA;
    border-radius: 4px;
    position: relative;
    right: 19px;
    bottom: 3px;
    transform: scale(1.9, 1.9);
    text-transform: capitalize;
}

.button_navbar:hover {
    color: #0043FA;
    background-color: white;
}

.logo {
    background: none;
    padding: 0%;
    margin: 0%;
    position: relative;
    width: 9.5%;
    top: -38px;
    left: -23px;
    z-index: 1030;

}

/*end of nav*/
.form_layout {
    padding: 0%;
    margin: 0%;
margin-bottom: -600px;
    width: 720px;
    height: 1070px;
background-color: #f2f2f2;  
  /* box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5); */
    position: relative;
    top: 20px;
    left: 29%;
    border-radius: 20px;
    border: 5px solid #000000;
    
}


form {
    /* box-sizing: border-box; */
    /* display: block; */
    display: flex;
    flex-direction: column;
    /* column-gap: 38px; */
    color: #fff;
    border-radius: 1%;
    position: relative;
    top: -5px;
    left: 8px;

    /* box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5); */
    /*h-shadow_v-shadow_blur_spread_color_inset*/
}


.col {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    column-gap: 0px;
background: none;
}
.row {
    display: flex;
    position: relative;
    row-gap: 1px;
left: 6%;
bottom: 12%;
background: none;
}

.form-input {
    position: relative;
    /* padding: 6%; */
    /* margin: 1%; */
    right: 8%;
}

 label {
     z-index: 140;
    text-transform: capitalize;
    position: relative;
    top: 60%;
        left: 4%;
    /* padding: 0%;
    padding-left: 1.2%;
    padding-right: 0.6%; */
    padding-right: 1px;
    padding-left: 1.8px;
padding-top: 5px;    margin: 0%;
    /* width: 50%; */
    color: #000000;
    top: 12px;
    left: 4%;
    direction: ltr;
    font-size: 15px;
    font-weight: 700;
background-color: #f2f2f2;} 


input {
    z-index: 100;
    margin: 0.8%;
    margin-right: 42px;
    padding-right: 4%;
    padding-left: 7%;
    width: 260px;
    height: 50px;
    font-size: 15px;
background-color: inherit;
 border: 3px solid #000000;
    border-radius: 5px;
    color: #000000;
    outline: none;
    direction: ltr;
    position: relative;
    transition: 0.2s ease;
    
}

input::placeholder {
    color: #000000;
    opacity: 0.6;
    font-size: 15px;
    padding-right: 1%;
    text-transform: capitalize;
    background-color: inherit;
}

input:focus {
background-color: #e9e9e9bd;
}
input:hover{
cursor: text;
}

h1
{
    font-family: 'Libre Franklin', sans-serif;
    padding: 0%;
    margin: 0%;
    position: relative;
    top: 115px;
    left: 45.5%;
    z-index: 10;
    text-transform: capitalize;
    font-size: 330%;
    padding: 1px;
    margin: 1px;
    text-align: center;
}

button {
    width: 350px;
    height: 60px;
    font-size: 20px;
    color: #eeeeee;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    user-select: none;
    position: relative;
    bottom: 11.2em;
    left: 42%;
    transition: 0.4s ease;
}
button:hover
{
    background-color:transparent;
    color: #000000;
    padding: 5px;
    border-style: solid;
    
}

.books input {
    padding: 0%;
    margin: 0%;
    width: unset;
}



.books label {
    position: relative;
    left: 17px;
    bottom: 4.8px;
}


.checks , .checks_a
{
    width: 18px;
}
.checks
{
    position: relative;
    left: 22.8%;
    top: 30.5px;
}
.each_book_e {
    width: 220px;
    position: relative;
    left: 31%;
    bottom: -64px;
    padding: 0%;
    margin: -2.7%;
    
}
.each_book_a
{
    width: 220px;
    position: relative;
    left: 63%;
    bottom: 289.4px;
    margin: -3.1%;

direction: rtl;
}
.checks_a
{   
    position: relative;
    top: 28.8px;
    margin-left: 5px;
    left: 3%;
}
.num_of_books_e
{
margin: 0%;
padding: 0%;
width: 55px;
position: relative;
left:102%;
bottom: 10px;
}
.num_of_books_a , .num_of_books_e
{
height: 20px;
}
.num_of_books_a
{
position: relative;
width: 30px;
bottom: 14px;
right: 56%;

}
.each_con 
{
    padding: 0%;
    margin: -2.8%;
    position: relative;
    bottom: 285px;
    left: 532.5px;
}
.con
{
width: 17px;
position: relative;
top: 48.5px;
right: 10px;
}
.con_lab
{
display: block;
margin: 0%;
padding: 0%;
position: absolute;
width: 320px;
position: relative;

}

/* start of footer*/
footer {
    padding: 0%;
    margin: 0%;
    z-index: 1000;
    background: none;
    position: relative;
    top: 11px;
    height: 360px;
    width: 100vw;
    color: white;
    background-color: black;
    border-radius: 6px;
    left: -8px;
}

.text_footer {
    margin: 0%;
    padding: 0%;
    font-weight: bold;
    font-size: 40px;
    color: white;
    background: none;
    text-transform: capitalize;
    font-family: 'Bebas Neue',
        cursive;
    position: absolute;
    top: 21px;
    left: 62px;
        transition: 0.2s ease;

}
.text_footer:hover
{
    color: #0043FA;
}
.logo_footer {
    background: none;
    padding: 0%;
    margin: 0%;
    width: 140px;
    position: absolute;
    top: -26px;
    left: -32px;

}

.p_footer {

    font-family: 'Hind Siliguri',
        sans-serif;
    padding: 0%;
    margin: 0%;
    background: none;
    position: absolute;
    top: 73px;
    left: 20px;
    font-size: 17px;
    line-height: 2.3vw;
}

/* h5 {
    font-family: 'Lato',
        sans-serif;
    padding: 0%;
    margin: 0%;
    background: none;
    color: white;
    position: absolute;
    top: 20px;
    left: 1080px;
    font-size: 30px;
} */

/* .names li{
    font-family: 'Roboto Condensed',
    sans-serif;
    display: block;
    padding: 0%;
    margin: 0%;
    position: relative;
    left: 942px;
    bottom: -73px;
} */
/* .names_2 li {
    font-family: 'Roboto Condensed',
    sans-serif;
    display: block;
    padding: 0%;
    margin: 0%;
    position: relative;
bottom: 69px;
left: 1131px;
}
.names li , .names_2 li {
padding-bottom: 18px;
}

.all_names
{
    background: none;
    padding: 0%;
    margin: 0%;
    position: relative;
    left: 25px;
} */
.copyright {
    background: none;
    position: relative;
    left: 620px;
    top: 65%;
    font-size: 21px;
    font-family: 'Roboto',
        sans-serif;
    direction: ltr;
}

.copyright_link {
    padding: 0%;
    margin: 0%;
    position: relative;
    top: 0px;
    text-transform: capitalize;
    font-family: 'Bebas Neue',
        cursive;
    font-size: 23px;
    background: none;
}

.names {
    font-family: 'Roboto Condensed',
        sans-serif;
    text-transform: capitalize;
    background: none;
    padding: 0%;
    margin: 0%;
    width: 260px;
    position: relative;
    left: 75vw;
    line-height: 1.7vw;
    top: 8vw;
    transform: scale(1.24, 1.24);
    font-weight: bolder;
}

.names tbody {
    font-size: 15px;
    background: none;
    text-transform: capitalize;
    text-align: center;
    transform: scale(1.24, 1.24);

}

caption {
    font-family: 'Noto Sans',
        sans-serif;
    text-transform: capitalize;
    background: none;
    display: table-caption;
    position: absolute;
    bottom: 103px;
    left: 70px;
    font-size: 23px;
}







.num_of_pg {
    padding: 0%;
    margin: 0%;
    position: relative;
    bottom: 6.2vw;
    left: 0.7vw;
    font-size: 0.96vw;
}

.social_media {

    padding: 0%;
    margin: 0%;
    position: relative;
    top: 0vw;
    transform: scale(1.24, 1.24);
}



.social_media i {

    font-size: 29px;
    padding: 0%;
    margin: 0%;
    position: relative;
    top: 4.3em;
left: 24.1em;
}

.social_media td {
    padding: 6.1px;
}
footer .social_media a 
{
padding: 0%;
margin: 0%;
position: relative;
left: -130px;

}
